body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:674px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:644px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:20px;
  width:309px;
  height:644px;
  display:flex;
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:636px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:28px;
  width:330px;
  height:636px;
  display:flex;
}
#u7047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
