body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1025px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:725px;
  width:1920px;
  height:1025px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:675px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:675px;
  display:flex;
}
#u5313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:772px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:823px;
  width:378px;
  height:772px;
  display:flex;
}
#u5315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:915px;
  width:328px;
  height:588px;
}
#u5316_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:588px;
  overflow:auto;
}
